.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.h1 {
    margin: 0;
    padding: 10px;
}
.form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}
.input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.input[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.input[type=submit]:hover {
    background-color: #555;
}

.breadscrum-custom {
    list-style-type: none;

}

.breadscrum-custom-item {
    display: inline-block;
    padding: 4px 0;
    margin-right: 4px;
    font-size: 14px;
}

.breadscrum-custom-item:not(.breadscrum-custom-item:first-child) {
    margin-left: 4px;
}

.dotted {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #7e7777;
    border-radius: 50%;
    transform: translate(0, -50%);
}

.breadscrum-custom-item a {
    text-decoration: none;
    color: #000;
}

.breadscrum-custom-item:hover a {
    text-decoration: underline;
}

.breadscrum-custom-item:last-child {
    color: #7e7777;
}

.box{
    box-shadow: 0 0 8px #7e7777;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.box2{
    box-shadow: 0 0 8px #7e7777;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.btn-center{
    align-self: center;
}